<div class="card" style="max-width: 375px; margin: auto">
  <div class="card-body">
    <form id="login" method="post" action="/login">
      <div class="form-floating mb-3">
          <input required
            id="email"
            class="form-control"
            name="email"
            type="email">
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-3">
          <input required
            id="password"
            class="form-control"
            name="password"
            type="password">
        <label for="password">Password</label>
      </div>
      <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
  </div>

  <div class="card-body">
    Don't have an account? <a class="card-link" href="/signup">Sign up</a>
  </div>
</div>
